@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    background-color: #fff;
}
/* Swiper Js */
.swiper {
    width: 100%;
    /* background-color: red; */
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center slide text vertically */
    /* display: -webkit-box; */
    /* display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  /* .swiper {
    margin-left: auto;
    margin-right: auto;
  } */
  /* / Swiper Js */
.container{
    width: 100%;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    padding: 45px 0;
}
.nav,
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.footer__logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #192252;
}
.nav__toggle{
    display:none;
}
.nav__item+.nav__item{
    margin-left: 32px;
}
.nav__btn-mobile{
    display: none;
}
.nav__link,
.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;
}
.btn{
    padding: 14px 16px;
    color: #fff;
    border-radius: 4px;
    background-color: #0E1734;
    text-transform: capitalize;
}
.hero{
    padding:80px 0;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-info{
    max-width: 587px;
}
.hero-info__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0,048;
    color: #192252;
}
.hero-info__text,
.rooms-info__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
    margin-top: 24px;
}
.hero-info__btn{
    display: inline-block;
    margin-top: 32px;
    padding: 16px 32px;
}
.hero-image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.hotel-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.hotel-info{
    max-width: 690px;
}
.hotel-info__title,
.rooms-info__title,
.get-room__info-title,
.clients__title{
    font-family: 'Montserrat', sans-serif;  
    font-size: 36px;
    line-height: 54px;
    letter-spacing:0,048;
    color: #192252;
}
.hotel-info__text{
    margin-top: 16px;
}
.hotel-image img{
    width: 100%;
}
.services-container{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-info{
    max-width: 580px;
}
.rooms{
    padding: 80px 0;
}
.rooms-info{
    margin: 0 auto;
    text-align: center;
    max-width: 588px;
}
.rooms__inner{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 24px;
    margin-top: 88px;
}
.rooms-card__img{
    max-width: 384px;   ;

}
.rooms-card__img img{
    width: 100%;
}
.rooms-card__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px;
}
.rooms-card__text,
.rooms-card__link,
.get-room__info-text,
.clients-card__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 16px;
    color: #848FAC;
}
.rooms-card__link{
    display: inline-flex;
    align-items: center;
    margin-top: 32px;
}
.rooms-card__link img{
    margin-left: 13px;
}
.get-room__container{
    display: flex;
    justify-content: space-between;
}
.get-room__info{
    max-width: 420px;
    margin-right: 20px;
}
.get-room__info-span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #424F7B;
}
.get-room__info-title{
    margin-top: 12px;
}
.get-room__info-text{
    margin-top: 24px
}
.get-room__info-btns{
    margin-top: 32px;
}
.get-room__info-explore{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 24px;
    color: #0E1734;
}
.get-room__item{
    width: 100%;
    max-width: 588px;
    padding: 32px 36px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 3px 10px 4px rgba(0, 0,0, .4);
    height: 100px;
    overflow: hidden;
    transition: height .4s;
    cursor: pointer;
}

.get-room__item--active{
    height: 188px;
}
.get-room__item+.get-room__item{
    margin-top: 24px;
}
.get-room__item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-room__item-number{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #424F7B;
}
.circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFECE2;
    color: #FF620A;
    transition: translate .4s;
}
.circle-active{
    transform: rotate(180deg);
}
.get-room__text{
    margin-top: 25px;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
}
.clients{
    padding: 80px 0;
}
.clients__title{
    text-align: center;
}
.clients-card{
    width: 100%;
    max-width: 793px;
    margin-top: 62px;
}
.clients-card__img{
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}
.clients-card__text{
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.clients-card__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #192252;
    text-align: center;
}
.footer{
    background-color: #0B265A;
    padding: 120px 0;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-left{
    width: 100%;
    max-width: 186px;
}
.footer__logo{
    color: #fff;
}
.footer__text{
    font-size: 16px;
    line-height: 28px;
    color: #D9DBDE;
    margin-top: 13px;
    margin-bottom: 36px;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
}
.footer-right{
    display: flex;
}
.footer-rooms{
    width: 100%;
    max-width: 107px;
}
.footer-rooms:nth-child(2){
    margin-left: 100px;
    margin-right: 141px;
}
.footer-rooms__title,
.footer-rooms__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.footer-rooms__text{
    display: inline-block;
    margin-top: 24px;
    font-weight: 400;
    color: #D9DBDE;
}
.footer-icons-hidden{
    display: none;
}
@media only screen and (max-width:1120px){
    .container{
        max-width: 1100px;
    }
    .hero{
        padding:30px 0;
    }
    .hero-info{
        max-width: 500px;
    }
    .hero-info__title{
        font-size:40px;
        line-height:60px;
    }
    .hero-info__text{
        font-size: 16px;
        line-height: 24px;
    }
    .hero-image{
        width:540px;
    }
    
    .hero-image img{
        width: 100%;
    }
    .hotel-info{
        max-width: 570px;
    }
    .hotel-info__title,
    .rooms-info__title{
        font-size:30px;
        line-height:45px;
    }
    .hotel-info__text,
    .rooms-info__text{
        font-size: 16px;
        line-height: 24px;
    }
    .hotel-image{
        width:350px;
        margin-right: 15px;
    }
}
@media only screen and (max-width:970px){
    .services-info{
        max-width: 500px;
    }
    .get-room__info-title{
        font-size:30px;
        line-height:45px;
    }
    .get-room__item-number{
        font-size: 20px;
        line-height: 30px;
    }
}
@media only screen and (max-width:900px){

    .container{
        max-width: 880px;
    }
    .get-room__item{
        height: 90px;
        padding: 28px 30px;
    }
    .get-room__item--active{
        height: 250px;
    }
    .get-room__item-number{
        margin-right: 10px;
    }
    .hero{
        padding: 20px 0;
    }
    .hero-info{
        max-width:450px;
    }
    .hero-info__title{
        font-size:35px;
        line-height:50px;
    }
    .hero-info__text{
        line-height: 22px;
        margin-top: 16px;
    }
    .hero-info__btn{
        margin-top:20px;
    }
    .hero-image{
        width:500px;
        margin-left: 15px;
    }
    
    .hero-image img{
        width: 100%;
    }
    .hotel-info{
        max-width: 480px;
    }
    .hotel-info__title,
    .rooms-info__title,
    .get-room__info-title,
    .clients__title{
        font-size:28px;
        line-height:40px;
    }
    .hotel-info__text,
    .rooms-info__text{
        line-height: 22px;
    }
    .rooms-card__text,
    .rooms-card__link,
    .get-room__info-text,
    .get-room__text{
        font-size: 16px ;
    }
    .get-room__text{
        margin-top: 16px;
    }
    .hotel-image{
        width:300px;
        margin-right: 15px;
    }
}
@media only screen and (max-width:820px){
    .container{
        max-width: 800px;
    }
    .hero{
        padding: 20px 0;
    }
    .hero-container{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .hero-info{
        max-width:620px;
        text-align: center;
        margin-top:30px;
    }
    .hero-image{
        width:600px;
        margin-left: 0;
    }
    .hotel-container{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .hotel-info{
        max-width: 600px;
        text-align: center;
        margin-top: 20px;
    }
    .hotel-info__title,
    .rooms-info__title,
    .clients__title{
        font-size:28px;
        line-height:40px;
    }
    .hotel-image{
        width:380px;
        margin-right: 0;
    }
    .services-container{
        flex-direction: column-reverse;
    }
    .rooms__inner{
        grid-template-columns: auto;
        margin-top: 40px;
    }
    .rooms-card{
        text-align: center;
    }
    .rooms-card__img{
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .rooms-card__img img{
        max-width: 384px;
    }
    .rooms-card__link{
        margin-top: 20px;
    }
    .get-room__container{
        flex-direction: column;
        align-items: center;
    }
    .get-room__info{
        text-align: center;
        max-width: 620px;
    }
    .get-room__accordion{
        margin-top: 50px;
    }
    .get-room__item--active{
        height: 188px;
    }
    .clients-card__text{
        font-size: 16px;
    }
    .footer{
        padding: 40px 0;
    }
    .footer__container{
        flex-direction: column;
    }
    .footer-icons{
        display: none;
    }
    .footer-left{
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .footer-right{
        width: 100%;
        justify-content: space-between;
    }
    .footer-rooms:nth-child(2){
        margin: 0;
        /* margin: 0; */
    }
    .footer-icons-hidden{
        display:flex;
        margin: 20px auto 0 auto;
        width:150px;
        justify-content:space-between;
    }
}
@media only screen and (max-width:600px){
    .container{
        max-width:580px;
    }
    .header{
        padding:20px 0;
    }
    .nav,
    .nav__list{
        display: block;
    }
    .nav__list{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        background-color: #f7f7f7;
        transition: all .4s;
        padding:0 10px;
        transform: translateX(-100%);
    }
    .nav__list-active{
        transform: translateX(0);
    }
    .nav__toggle{
        position: absolute;
        display: block;
        right:10px;
        top: 20px;
        color: #192252;
    }
    .nav__item,
    .nav__item+.nav__item{
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }
    .nav__btn{
        display:block;
        text-align: center;
        margin-top: 20px;
    }
    .nav__btn-desktop{
        display: none;
    }
    .hero-image{
        width:500px;
        margin-left: 0;
    }
    .services-container{
        padding: 40px 0;
    }

}
@media only screen and (max-width:520px){
    .container{
        max-width: 500px;
    }
    .hero-image{
        width: 380px;
    }
}
@media only screen and (max-width:430px){
    .get-room__item-number{
        max-width:250px;
    }
}
@media only screen and (max-width:400px){
    .container{
        max-width: 380px;
    }
    .hero-image,
    .hotel-image{
        width: 300px;
    }
    .hero-info__title{
        font-size: 25px;
        line-height: 35px;
    }
    .hotel-info__title,
    .rooms-info__title,
    .rooms-card__title,
    .get-room__info-title,
    .clients__title{
        font-size: 22px;
    }
    .rooms-card__text{
        font-size: 16px;
        line-height: 22px;
    }
    .rooms-card__link{
        font-size: 16px;
        margin-top: 16px;
    }
    .get-room__info-text{
        margin-top: 15px;
    }
    .clients-card{
        margin-top:30px;
    }
    .footer-right{
        flex-direction: column;
    }
    .footer-rooms+.footer-rooms{
        margin-top:40px;
    }
}
@media only screen and (max-width:380px){
    .get-room__item{
        padding: 10px;
        height: 70px;
    }
    .get-room__item--active{
        height: 200px;
    }
    .get-room__item-number{
        font-size: 18px;
        max-width: 200px;
    }
    .clients-card__img{
        margin-bottom: 70px;
    }
}
@media only screen and (max-width:330px){
    .get-room__info-btns{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .get-room__info-explore{
        text-align: center;
        margin-top: 16px;
    }
}